@charset "UTF-8";

.calendar{
  width: 90%;
  margin: auto;
  height: 70vh;
}

.tabela-sch{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px solid grey;
  border-radius: 10px;

}