@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: rgb(230, 215, 245);
}

a{
    padding-top: 5%;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #5c50e0;
}

label{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 10px; 
    padding: 5px;
}

span{
padding-bottom: 2%;
display: flex;
flex-direction: column;
}

.formulario{
    width: 80%;
    text-align: center;
    border: 3px solid rgba(105,105,105,1);
    border-radius: 10px;
    background-color: rgb(228, 226, 226);
}

.form { 
    background-color: rgb(230, 215, 245); 
    background-position: center; 
    height: 50%; 
    width: 50%; 
    margin: auto;
    padding-top: 10%;
    display: flex; 
    justify-content: center;
}

.caixa{
text-align: center;
}

.itens{
    padding: 5%;
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
}

.campos{
    padding: 10px;
    width: 70%;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    
}

.campos:hover{
    background-color: rgba(115,115,115,0.4); 
    border: 2px solid #5c50e0;
}

.campos:focus-visible{
    border: 2px solid #5c50e0;
    outline: #5c50e0;
}

.salvar{
    box-shadow: 1px 1px 1px #999;
    padding: 10px;   
    width: 70%;
    background-color: #6558f5;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    border: 2px solid #5c50e0;
    border-radius: 5px;
    
}

.salvar:hover {
    background-color: #4f44be;
    border: 2px solid #483eaf;
    color: white   ;
}

.salvar > a:hover {
    color: white   ;
}



