@charset "UTF-8";


/*------------------------------------*\
	            global
\*------------------------------------*/

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------*\
	            menu
\*------------------------------------*/

ul{
    list-style: none;

}

#hamburguer{
    width: 40px;
}

input[type="checkbox"]{
    display: none;
}

nav{
    background-color: rgba(16, 16, 16, .5);
    width: 20%;
    height: 100%;
}

.funcoes{
    box-shadow: 1px 1px 1px #999;
    padding: 3px;  
    width: 40%;
    background-color: #aea7f8;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #5c50e0;
    border-radius: 5px;
}

.funcoes:hover{
    background-color: #857ece;
}

.botoes{
    display: inline;
    flex-direction: row;
    justify-content: stretch;
}